<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bft.fishtagsapp">

    <!--
         TODO: camera unrequired, disable camera features if no camera on device.
        Currently, camera required on device to download app.
    -->
    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- ACCESSING STORAGE -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Client -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Grant File-Access Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Wifi.WifiDetector"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Linkage.LinkageActivity"
            android:label="LinkageActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Storage.StorageActivty" />
        <activity
            android:name=".FormActivity"
            android:label="@string/title_activity_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestingActivity"
            android:label="@string/title_activity_testing"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service
            android:name=".Client.Uploader"
            >
            </service>
    </application>

</manifest>
